body {
    background-position: center;
    background-image: url('/img/site-background.jpg');
}

html *
{
   font-family: serif !important;
}
.landing {
    margin: 50px auto;
    width: 80%;
    border-style: dotted;
    border-color: lightslategrey;
    border-width: 3px;
    min-width: 1100px;
}
hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
}

#photo {
    padding-top: 20px;
    padding-bottom: 30px;
    height: 370px;
    width: 310px;
}

footer {
    background-color:royalblue;
    color: white;
    text-align: center;
    padding: 5px;
}

li {
    margin-top: 10px;
}

.working-text {
    color: rgb(42, 64, 185);
    font-size: 16px;
}

.description {
    padding-right: 30px;
}

a {
    color: mediumpurple;   
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

h3 {
    text-align:center;
    color: rgba(2, 38, 105, 0.877);
    padding-top: 20px;
}
.info-block {
    padding-left: 10px;
}

.info-block-content {
    padding-left: 20px;
}

.additional-info-text {
    text-align: justify; 
    line-height: 25px; 
    padding-right: 20px;
}

.social-links {
    float:left;
    margin:0 10px;
    vertical-align: top;
}

a img {
    /* border: none; */
    height: 30px;
    width: 30px;
}

input, textarea {
    width: 450px;
}

textarea {
    height: 200px;
}